@media (max-width: 275px){
    .HorizontalLabelPositionBelowStepper-root-1{
        visibility: hidden;
    }
}

.HorizontalLabelPositionBelowStepper-root-1{
    align-content: center;
    margin: 0 auto;
}

#backGroundColor{
    background-image: url(),
      url(),
      linear-gradient(to right,#f4f9f4, #90ee90);
}