.containerLogin{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 200px;
    flex-direction: column;
}

.SecondndDiv{
   
}

.thirdDiv{
    display: flex;
    align-items: flex-end;
    width: 220px;
    justify-content: space-between;
}